## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [4]:
# 設定 data_path
dir_data = './'

In [5]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [7]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [31]:
print(app_train.columns)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [27]:
app_train.head(5)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
#>>> df.loc[lambda df: df['shield'] == 8]

app_train.loc[lambda app_train:app_train['AMT_CREDIT'] > 2000000]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
189,100219,0,Cash loans,M,N,Y,1,315000.0,2250000.0,83515.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
341,100393,0,Cash loans,M,Y,Y,2,405000.0,2250000.0,59485.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
485,100559,0,Cash loans,F,Y,Y,0,450000.0,2286211.5,116266.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
748,100861,0,Cash loans,M,N,N,0,306000.0,2085120.0,72477.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,4.0
871,100999,0,Cash loans,M,Y,N,0,450000.0,2125953.0,81108.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1243,101468,0,Cash loans,M,Y,N,1,247891.5,2254500.0,65988.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
1446,101701,0,Cash loans,F,Y,N,1,360000.0,2250000.0,116505.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1451,101706,0,Cash loans,F,N,N,0,157500.0,2013840.0,53122.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
1545,101813,0,Cash loans,F,N,Y,0,382500.0,2159842.5,57105.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,2.0
1647,101932,0,Cash loans,F,Y,Y,0,360000.0,2013840.0,53253.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
1707,101996,0,Cash loans,F,N,N,0,247500.0,2250000.0,59485.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1969,102310,0,Cash loans,F,N,Y,1,270000.0,2517300.0,102658.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
2207,102589,0,Cash loans,M,Y,Y,0,450000.0,2160000.0,59400.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2240,102627,0,Cash loans,F,N,Y,0,351000.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
2331,102728,0,Cash loans,M,Y,Y,0,270000.0,2013840.0,83241.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
2727,103182,0,Cash loans,M,N,Y,0,247500.0,2250000.0,68350.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
2735,103191,0,Cash loans,F,N,Y,0,270000.0,2250000.0,59355.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2843,103318,0,Cash loans,F,N,Y,2,540000.0,2156400.0,59301.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2852,103328,0,Cash loans,F,N,Y,1,540000.0,2156400.0,57015.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
2925,103411,0,Cash loans,F,N,Y,0,202500.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
3111,103636,0,Cash loans,F,Y,Y,0,675000.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
3120,103645,0,Cash loans,F,N,Y,0,292500.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
3140,103671,0,Cash loans,M,N,Y,0,414000.0,2447937.0,62010.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3228,103767,0,Cash loans,M,Y,Y,0,468000.0,2356920.0,119731.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3229,103768,0,Cash loans,F,Y,Y,1,540000.0,2245500.0,83214.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3371,103938,0,Cash loans,F,N,N,1,1350000.0,2410380.0,109053.0,...,1,0,0,0,0.0,0.0,0.0,3.0,0.0,0.0
3380,103948,0,Cash loans,F,N,N,0,198000.0,2020347.0,63567.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3464,104042,0,Cash loans,M,Y,Y,0,247500.0,2013840.0,53253.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
3544,104141,0,Cash loans,F,N,Y,0,787500.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
4027,104709,0,Cash loans,M,Y,N,0,225000.0,2395917.0,88789.5,...,1,0,1,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
302655,450648,0,Cash loans,F,Y,N,0,270000.0,2007000.0,53073.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
302689,450684,0,Cash loans,F,N,Y,0,274500.0,2517300.0,66532.5,...,0,1,0,0,0.0,0.0,0.0,0.0,0.0,1.0
302773,450787,0,Cash loans,F,N,Y,0,360000.0,2025000.0,56862.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
303075,451133,0,Cash loans,M,Y,N,4,360000.0,2013840.0,55507.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
303092,451151,0,Cash loans,M,N,Y,1,540000.0,2064186.0,54580.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,5.0
303376,451492,0,Cash loans,M,Y,N,0,225000.0,2028942.0,53653.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
303429,451550,0,Cash loans,F,N,Y,0,337500.0,2250000.0,63180.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
303430,451552,0,Cash loans,F,Y,Y,0,202500.0,2064186.0,54580.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
303486,451621,0,Cash loans,M,Y,N,0,270000.0,2156400.0,59301.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
304261,452516,0,Cash loans,M,Y,Y,0,261000.0,2410380.0,98302.5,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,1.0
304606,452910,0,Cash loans,F,Y,N,0,427500.0,2250000.0,68220.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
304684,453001,0,Cash loans,F,Y,N,0,291478.5,2025000.0,53419.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
305043,453418,0,Cash loans,M,Y,N,1,360000.0,2013840.0,53253.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
305139,453530,0,Cash loans,F,N,Y,0,184950.0,2700000.0,68256.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
305180,453583,1,Cash loans,M,Y,N,0,247500.0,2013840.0,55507.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
305307,453726,0,Cash loans,F,Y,Y,0,450000.0,2410380.0,89325.0,...,0,0,0,0,0.0,0.0,1.0,4.0,0.0,6.0
305415,453851,0,Cash loans,F,N,N,0,315000.0,2160000.0,56979.0,...,0,1,0,0,0.0,0.0,0.0,0.0,1.0,1.0
305551,454010,0,Cash loans,M,Y,N,0,450000.0,2250000.0,59355.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
305834,454342,0,Cash loans,M,Y,Y,0,360000.0,2466954.0,65205.0,...,0,0,0,0,0.0,0.0,0.0,1.0,2.0,4.0
305887,454407,0,Cash loans,F,N,Y,2,126000.0,2013840.0,55507.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306102,454654,0,Cash loans,F,Y,N,0,225000.0,2517300.0,66402.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306107,454659,0,Cash loans,F,N,Y,1,315000.0,2085120.0,72607.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
306497,455105,0,Cash loans,F,N,N,0,270000.0,2463840.0,77494.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306828,455491,0,Cash loans,F,Y,Y,2,396000.0,2156400.0,59431.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
306882,455551,0,Cash loans,M,Y,Y,0,517500.0,2250000.0,59485.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
306887,455556,0,Cash loans,M,N,N,2,405000.0,2013840.0,53253.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
306937,455609,0,Cash loans,M,Y,Y,0,144000.0,2129445.0,56304.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307055,455739,0,Cash loans,F,N,Y,0,112500.0,2032992.0,70794.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307095,455785,0,Cash loans,F,Y,Y,0,135000.0,2013840.0,53253.0,...,0,0,0,0,0.0,0.0,0.0,3.0,1.0,2.0
307214,455922,0,Cash loans,M,Y,N,2,256500.0,2290743.0,60556.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

In [29]:
print(app_train.iloc[1:3,2:4])
print(app_train.loc[:,'SK_ID_CURR':'TARGET'])

  NAME_CONTRACT_TYPE CODE_GENDER
1         Cash loans           F
2    Revolving loans           M
        SK_ID_CURR  TARGET
0           100002       1
1           100003       0
2           100004       0
3           100006       0
4           100007       0
5           100008       0
6           100009       0
7           100010       0
8           100011       0
9           100012       0
10          100014       0
11          100015       0
12          100016       0
13          100017       0
14          100018       0
15          100019       0
16          100020       0
17          100021       0
18          100022       0
19          100023       0
20          100024       0
21          100025       0
22          100026       0
23          100027       0
24          100029       0
25          100030       0
26          100031       1
27          100032       0
28          100033       0
29          100034       0
...            ...     ...
307481      456225       1
307482      456226       0
307483      456227       0
307484      456228       0
307485      456229       0
307486      456230       0
307487      456231       0
307488      456232       0
307489      456233       1
307490      456234       0
307491      456235       0
307492      456236       0
307493      456237       0
307494      456238       0
307495      456239       0
307496      456240       0
307497      456241       0
307498      456242       0
307499      456243       0
307500      456244       0
307501      456245       0
307502      456246       0
307503      456247       0
307504      456248       0
307505      456249       0
307506      456251       0
307507      456252       0
307508      456253       0
307509      456254       1
307510      456255       0

[307511 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子